COSMOS_CONNECTION_STRING=AccountEndpoint=https://<your-account>.documents.azure.com:443/;AccountKey=<your-key>
COSMOS_DATABASE_NAME=sales
COSMOS_CONTAINER_NAME=products

AZURE_BLOB_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<your-account>;AccountKey=<your-key>;EndpointSuffix=core.windows.net
AZURE_BLOB_CONTAINER_NAME=semiconductor-product-documents

SQL_CONNECTION_STRING=Driver={ODBC Driver 18 for SQL Server};Server=tcp:<server>.database.windows.net,1433;Database=<database>;Uid=<user>;Pwd=<password>;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;

MCP_TRANSPORT=stdio
MCP_HOST=127.0.0.1
MCP_PORT=8000
MCP_MOUNT_PATH=

POLICY_MAX_OUTPUT_CHARS=12000
POLICY_RATE_LIMIT_PER_MINUTE=60
